/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  background-image: url("../images/regular-page.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.splash-h1,
.splash-h2,
.start-game-form {
  padding-top: 50px;
  text-align: $center;
}

.splash-h1 {
  color: $pop-color-1;
  font-size: 170px;
}

.splash-h2 {
  letter-spacing: 2px;
}

.splash-h2, 
label {
  color: $pop-color-2;
  font-size: $splash-font-size;
}

.name-input {
  border: $border-size $border-type $pop-color-3;
  border-radius: $border-radius;
  font-size: 20px;
  height: $input-height;
  margin-right: 30px;
  text-align: $center;
  width: 300px;
}

table {
  border: 8px solid $pop-color-1;
  width: 69%;
  table-layout: fixed;
  display: inline-block;
  margin-bottom: 14%;
  margin-left: 3%;
    th {
      border: 4px dotted $pop-color-2;
      width: 25vw;
      height: 100px;
  }
}



.player-bar {
  float: right;
  margin-top: 5%;
  margin-right: 3%;
}

.player-name,
.player-score {
  font-size: 50px;
  margin-top: 20px;
  text-align: $center;
}

.question-and-answer {
  height: 500px;
  width: 1100px;
  border: 10px $border-type $pop-color-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
    .question {
      text-align: $center;
      font-size: 2em;
  }
}

.name-label {
  display: inline-block;
    label {
      display: block;
    }
}

.start-game-button {
  border: $border-size $border-type $pop-color-2;
  border-radius: $border-radius;
  background-color: $pop-color-1;
  color: $pop-color-2;
  display: block;
  font-size: $splash-font-size;
  height: 70px;
  margin-left: 39vw;
  margin-top: 50px;
  width: 390px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

// .category-name-1, 
// .category-name-2,
// .category-name-3,
// .category-name-4 {
//   height: 5vh;
// }

.categories {
  color: $pop-color-1;
  font-size: 30px;
}

.card {
  color: white;
  font-size: 80px;
}


.main-h1 {
  color: #cb4154;
  display: inline;
  font-size: 100px;
  padding-top: 50px;
  margin-left: 3%;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.restart-game-button {
  float: right;
}

#player-1-name {
  color: $pop-color-3;
}

#player-2-name {
  color: $pop-color-2;
}

#player-3-name {
  color: $pop-color-1;
}

.player-score {
  color: white;
}

#player-answer-input {
  border: $border-size $border-type $pop-color-3;
  border-radius: $border-radius;
  display: block;
  font-size: 20px;
  height: $input-height;
  margin-bottom: 20px;
  width: 450px;
  margin-top: 20px
}

.question {
  color: white;
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#player-answer-button {
  background-color: $pop-color-1;
  border: $border-size $border-type $pop-color-2;
  border-radius: $border-radius;
  color: $pop-color-2;
  font-size: 40px;
  height: $input-height;
  width: 450px;
}