$main-font: "VT323", monospace;
$pop-color-1: #56ae22;
$pop-color-2: #f9d71c;
$pop-color-3: #cb4154;
$splash-font-size: 50px;
$input-height: 50px;
$border-radius: 15px;
$center: center;
$border-type: dashed;
$border-size: 2px;
